<h3><%= @oven.name %></h3>

<div id="cookie-info" data-controller="oven-channel" data-oven-channel-id="<%= @oven.id %>">
  Cookie in oven:
  <% if @oven.cookies.present? %>
    <div id="cookie-list">
      <% @oven.cookies.each do |cookie| %>
        <div id="cookie-<%= cookie.id %>">
          1 cookie with <%= cookie.fillings.presence || "no fillings" %>
          <% if cookie.ready? %>
            (Your Cookie is Ready)
          <% else %>
            (Your Cookie is being baked)
          <% end %>
        </div>
      <% end %>
    </div>
    <%= button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny' %>
  <% else %>
    None
  <% end %>
</div>

<br/>
<%= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button' %>
